form{
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

button{
    width: 300px;
}

.form-text{
    width: 300px;
}