* { box-sizing:border-box; }
header {
    height : 150px;
    border: hidden;
    display:flex; 
    /* display:flex on the parent container */
    flex-direction: row;
    /* flex-direction: row DEFAULT */
    justify-content:space-around;
    align-items: flex-start;
  }
  img{
    height: 145px;
    border-bottom: 2px solid;
    border-color: yellow;
  }
  .section1{
    height : 300px;
    border: hidden;
    display:flex; 
    /* display:flex on the parent container */
    flex-direction: row;
    /* flex-direction: row DEFAULT */
    justify-content:space-around;
    align-items: flex-start;
  }
  .section2{
    height : 150px;
    border: hidden;
    display:flex; 
    /* display:flex on the parent container */
    flex-direction: row;
    /* flex-direction: row DEFAULT */
    justify-content:space-around;
    align-items: flex-start;
  }
  .profile{
    position: relative;
    left: 400px;
  }
  h3{
    border-bottom: 2px solid;
    border-color: yellow;
    border-width: 2px;
  }
  .contact{
    position: relative;
    left: 150px;
  }
  body{
    background-color: aliceblue;
  }