{% extends 'base.html' %}

{%  block content %}
<h1> Client </h1>
{% if request.user.is_authenticated %}
    {{ request.user.username }}
{% else %}
    Aucun utilisateur
{% endif %}

<h1> Bienvenue cher Client </h1>

<div class="row">
<div class="col-md-3">
  <div class="card" style="width:18rem;">
    {% if personne.image %}
    <img src="{{ personne.image.url }}" class=" card-img-top" alt="{{ personne.image }}">
    {% else %}
    <h3>No image</h3>
    {% endif %}
    <div class="card-body">
      <h5 class="card-description">{{ personne.lastname }} <br> {{ personne.firstname }}</h5>
      <h5 class="card-title">{{ personne.description }}</h5>
      
      <a href="#" class="btn btn-primary">Add to card</a>
    </div>
  </div>
</div>
  {% endfor %}
</div>

{% endblock%}