<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Projects Exercices #9</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts <i class="bi bi-circle"></i></a>
            </li>
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-items" href="#">link1</a></li>
                    <li><a class="dropdown-items" href="#">link2</a></li>
                    <li><a class="dropdown-divider" href="#"></a></li>
                    <li><a class="dropdown-items" href="#">link3</a></li>
                </ul>
            </div>
              <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="col">
                    <input type="password" class="form-control" placeholder="password" aria-label="password">
                </div>
                <div class="col"><button type="submit" class="btn btn-primary">Sign in</button></div>
              </div>
          </ul>
      </div>
    </nav>

    <nav class="contenu">
       <h1 class="txt">Hello, World</h1>
       <p class="txt">This Exercise #9. It include a large callout called a jumbotron and three supporthing pieces of content.
       </p> <button class="blue">Learn more</button>
    </nav>

    <nav class="footer">
        <section class="section1">
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus.fusce <br>
                dapibus, tellusac cursus commodo, tortor mauris <br>
                comdimentum nibh, at fermentum massa justo sit amet <br>
                risus. Etiam porta sem malesuada magna mollis euismod. <br>
                donec sed odlo dul. <br>
                <button class="details"><i class=""></i> View details</button> 
            </p>
        </section>
        <section class="section2">
            <h3>Heading</h3>
            p>Donec id elit non mi porta gravida at eget metus.fusce <br>
                dapibus, tellusac cursus commodo, tortor mauris <br>
                comdimentum nibh, at fermentum massa justo sit amet <br>
                risus. Etiam porta sem malesuada magna mollis euismod. <br>
                donec sed odlo dul. <br>
                <button class="details"><i class="fa-solid fa-mobile-notch"></i> View details</button> 
            </p>
        </section>
        <section class="section3">
            <h3>Heading</h3>
            p>Donec id elit non mi porta gravida at eget metus.fusce <br>
                dapibus, tellusac cursus commodo, tortor mauris <br>
                comdimentum nibh, at fermentum massa justo sit amet <br>
                risus. Etiam porta sem malesuada magna mollis euismod. <br>
                donec sed odlo dul. <br>
                <button class="details"><i class="fa-solid fa-location-dot"></i> View details</button> 
            </p>
        </section>
    </nav>
    <script scr="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmwwPOwintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>